<%- include ('partials/header.ejs') %>
<%- include ('partials/homeNavbar.ejs') %>
<body>
    <div class="container mb-5">
            <div class="jumbotron mt-4">
                <h1 class="display-4">Hello, world!</h1>
                <p class="lead">This is the right blog for solve your programming questions </p>
                <hr class="my-4">
                <p>Find more details here!</p>
                <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                </p>
            </div>
            <% articles.forEach(article=>{ %>
                <div class="card mt-3">
                    <div class="card-header ">
                        <h4><%=article.title%></h4>
                    </div>
                    <div class="card-body">
                        <a href="/<%=article.slug%>" class="btn btn-success">Read Article</a>
                    </div>                     
                </div>
                
           <% }) %>
        
             <div class="row">
                <div class="col col-12">
                    <a style="float:right" href="/articles/page/2">Next >>></a>
                </div>
            </div>   
    </div>

    <%- include ('partials/footer.ejs') %>

</body>